body {
  margin: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.topic {
  font-weight: 600;
  margin-bottom: 10px;
}

.topic span {
  font-style: italic;
}

.answer_correct::before {
  content: '✅ ';
}

.answer_incorrect::before {
  content: '❌ ';
}